@charset "utf-8";
.home_bg{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.home_head{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: aqua;
}
.home_body{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: red;
}
.carimg{
    max-width: 180px;
    max-height: 101px;
    margin: auto;
}